<!DOCTYPE html>
<html>

<head>
    <title>TheQRef?</title>
</head>

<body style="background-color: darkgrey">
<div style="display: flex;flex-direction: column; justify-content: center;align-items: center;padding: 15%">
    <div style="display: flex;padding: 5%;">
        <h1>QRef</h1>
    </div>

    <form action={{login_route}} method="post">
        <div style="display: flex; justify-content: center;padding: 10px">
            <input type="text" name="username" placeholder="Username" width="1000">
        </div>
        <div style="display: flex; justify-content: center;padding: 10px">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div style="display: flex;flex-direction: column; justify-content: center;padding: 10px;">
            <input type="submit" value="Login">
        </div>

    </form>

    <div style="display: flex;flex-direction: column; justify-content: center;padding: 1%">
        <a href={{register_route}}>
            <button>Register</button>
        </a>
    </div>
    <div style="display: flex;flex-direction: column; justify-content: center">
        <h3>{{error_message}}</h3>
    </div>
</div>

</body>
</html>